
h1 {
    color: rgb(14, 10, 90);
 
    text-align: center;
    font-size: 75px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0%;
  
}

.body {
    color:brown;
    border: solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    stroke: blue;
    stroke-width: 2mm;

    

}
.body:hover {border-radius: 50%;
    color:rgb(14, 10, 90)

}
